<div class="search">
  <input class="search__box" id="search-box" autocomplete="off" required [(ngModel)]="name">
  <span class="search__bar"></span>
  <label for="search-box">Pokemon Search</label>
</div>
<div class="pokemon-grid" *ngIf="!loading; else loadingBlock">
  <ng-template ngFor let-pokemon [ngForOf]="pokemons|filter: name" let-ind="index">
    <div class="box"
         *ngIf="ind>=(pageEvent.pageIndex*pageEvent.pageSize) &&
           ind<(pageEvent.pageIndex*pageEvent.pageSize+pageEvent.pageSize)"
         [routerLink]="['/pokemon-info',pokemon.id]">
      <img class="box__img-pokemon" [src]="pokemon.sprites.other.dream_world.front_default" alt="">
      <h3 class="box__name">{{pokemon.name | uppercase}}</h3>
    </div>
  </ng-template>
</div>
<mat-paginator
  (page)="pageEvent=$event"
  [length]="totalPokemons"
  [pageSize]="sizePage"
  [pageSizeOptions]="[12, 24, 48, 96]"
  *ngIf="!loading">
</mat-paginator>

<ng-template #loadingBlock>
  <div class="loading-block">
    <p class="loading-block__title">Loading...</p>
    <img class="loading-block__picture" src="./assets/4m3s.gif" alt="">
  </div>
</ng-template>



