.pokeball {
  z-index: 100;
  position: fixed;
  right: 10px;
  top: 20px;
  transition: .3s;

  &__img {
    width: 150px;
    height: 100px;
  }
  &:hover{
    transform: scale3d(1.1, 1.1, 1.5);
    filter: drop-shadow(0 0 40px #f1404b);
  }

}
.mat-badge-content {
  color: #fff;
  background: #D94447;
}
.pokemon-box {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -500px;
  height: 100%;
  width: 500px;
  background: #00467F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5CC82, #00467F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .3s;
  padding: 20px 20px 20px 20px;
  outline: none;
  display: flex;
  align-items: center;


  &__grid {
    height: 40%;
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    justify-items: center;
    align-items: center;
  }

  &__item {
    width: 100px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    background: rgba(187, 222, 214, 0.3);
  }

  &__paginator{
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}

.show {
  right: 0;
}
.mat-paginator{
  font-size: 16px;
  border-radius: 20px;
  background: rgba(187, 222, 214, 0.3);
  color: black;
}
