.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 10% 0 10%;
    border-bottom: 3px solid rgba(128, 128, 128, 0.3);
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.menu__child {
    color: #ffffff;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
}
