.logo-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo-product__picture {
    opacity: 0.5;
    transition: 0.4s;
}
.logo-product__picture:hover {
    opacity: 1;
    transition: 0.4s;
}
