* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background: #091921;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar {
    position: relative;
    width: 45rem;
    height: 56rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.month {

    width: 100%;
    height: 16rem;
    border-radius: 6px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.prev, .next {
    font-size: 2.5rem;
    cursor: pointer;
}

.config {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
    font-size: 2rem;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.config:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    cursor: pointer;
}

.settings-menu {
    position: fixed;
    top: 1px;
    right: 3px;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background: #213037;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__box {
    transition-duration: .4s;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    z-index: 99;
}


.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.todo-list {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: -110%;
    left: 0;
    padding: 30px;
    background: #213037;
    transition: .4s;
}

.show {
    bottom: 0;
}

.close-icon {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 2.5rem;
    cursor: pointer;
}

.close-icon:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    cursor: pointer;
}

.month p,
span,
div {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.holiday {
    color: red;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    transition: .4s;
}


.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
    z-index: -1;
}

.today {
    background-color: #167e56;
}

.prev {
    transition: .4s;
}