<div class="container">
  <div *ngIf='pokemon' class="pokemon-info">
    <div class="pokemon-info__picture"><img class="pokemon-info__image" [src]='pokemon.photo' alt=""></div>
    <div class="pokemon-info__right-block">
      <div class="pokemon-info__description">
        <div class="pokemon-info__name">Name: {{pokemon.name | uppercase }}</div>
        <div class="pokemon-info__id">id #{{pokemon.id}}</div>
        <div class="pokemon-info__experience">Base experience: <span>{{pokemon.experience}}</span></div>
        <div class="pokemon-info__ability">
          <div>Abilities:</div>
          <div class="pokemon-info__item" *ngFor="let i of pokemon.abilities">- {{i.ability.name | uppercase }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
