@font-face {
    font-family: "Calibri";
    src: url("../Task-2/Fonts/Calibri.eot");
    src: local("Calibri"), url("Calibri.eot?#iefix") format("embedded-opentype"), url("Calibri.woff2") format("woff2"),
        url("Calibri.woff") format("woff"), url("Calibri.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Calibri";
    src: url("../Task-2/Fonts/Calibri-Bold.eot");
    src: local("Calibri Bold"), local("Calibri-Bold"), url("Calibri-Bold.eot?#iefix") format("embedded-opentype"),
        url("Calibri-Bold.woff2") format("woff2"), url("Calibri-Bold.woff") format("woff"),
        url("Calibri-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Calibri";
    src: url("../Task-2/Fonts/Calibri-Light.eot");
    src: local("Calibri Light"), local("Calibri-Light"), url("Calibri-Light.eot?#iefix") format("embedded-opentype"),
        url("Calibri-Light.woff2") format("woff2"), url("Calibri-Light.woff") format("woff"),
        url("Calibri-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
* {
    padding: 0;
    border: 0;
    margin: 0;
}
*,
*:before*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a :hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #f7f8f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 70%;
    height: 85%;
    font-family: "Calibri";
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}
.block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10%;
}
h1 {
    color: #fd5353;
    font-size: 40px;
    font-weight: 600;
}
.icons {
    width: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.circle {
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #1a2e35;
    border: 1px solid #1a2e35;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.circle:hover {
    border: 1px solid #fd5353;
    color: #fd5353;
    transition: all 0.4s;
}
.circle .fab {
    line-height: 100%;
}

.text {
    margin-top: 15px;
    font-size: 20px;
    color: #1a2e35;
}
form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enter {
    width: 400px;
    height: 60px;
    border: 1px solid #d3e1e6;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 30px;
    padding-left: 40px;
    font-size: 20px;
    background-color: #f7f8f9;
    transition: all 0.4s;
}
.enter:focus {
    background-color: #ffffff;
    color: #1a2e35;
    border: 1px solid #fd5353;
    transition: all 0.4s;
}
.enter::placeholder {
    font-size: 20px;
    color: #d3e1e6;
}
.form-icon {
    position: relative;
}
.fas {
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    color: #d3e1e6;
}
.gender {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #1a2e35;
}
.gender-check {
    display: none;
}
.gender-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #fd5353;
    border-radius: 50%;
    background-color: #fd5353;
}
.gender-icon::before {
    content: "";
    color: #ffebcd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6px;
    height: 6px;
    background-color: #ffebcd;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}
.gender-check:checked + .gender-icon::before {
    opacity: 1;
}
.checkbox {
    margin-top: 5%;
    font-size: 20px;
}
.checkbox-del {
    display: none;
}
.checkbox-icon {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fd5353;
    background-color: #fd5353;
}
.checkbox-icon::before {
    content: "\2714";
    color: #ffebcd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
}
.checkbox-del:checked + .checkbox-icon::before {
    opacity: 1;
}
.checkbox-text-1 {
    color: #fd5353;
}

.buttons {
    width: 440px;
    margin-top: 20px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
}
.btn-1 {
    height: 60px;
    width: 200px;
    border: 1px solid #fd5353;
    border-radius: 15px;
    background-color: #ffffff;
    color: #fd5353;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s;
}
.btn-1:hover {
    background-color: #fd5353;
    color: #ffffff;
    transition: all 0.4s;
}
.block-2 img {
    height: 100%;
    width: 400px;
    border-radius: 20px;
}
